<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<title>About page</title>
		<link rel='stylesheet' href='stylesheets/style.css' />
	</head>
	<body>
		<h1>Johannes</h1>
		<iframe
			src='https://giphy.com/embed/cdNSp4L5vCU7aQrYnV'
			width='368'
			height='480'
			frameBorder='0'
			class='giphy-embed'
			allowFullScreen
		></iframe><p><a href='https://giphy.com/gifs/masonramsey-mason-ramsey-cdNSp4L5vCU7aQrYnV'></a></p>
	</body>
</html>