body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wrapper {
	width: 600px;
	height: 600px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 5px;
	align-items: center;
	justify-items: center;
}

.square {
	width: 300px;
	height: 300px;
}

.input {
	width: 20rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5rem;
	gap: 2rem;
}

.input input {
	width: 20rem;
}

#square-one {
	background-color: #580606;
}
#square-two {
	background-color: #023b02;
}
#square-three {
	background-color: #09095c;
}
#square-four {
	background-color: #7a601c;
}
